#omokbox {
    box-sizing: content-box;
    border: 1px solid black;
}

#omokpan {
    position: relative;
    border: none;
    margin-left: auto;
    margin-right: auto;
    background-color: #e0d0c0;
}

#omokpan table {
    position: absolute;
    border-collapse: collapse;
}

#omokpan td {
    box-sizing: border-box;
    border: 1px solid grey;
}

#omokpan .dol {
    position: absolute;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

#omokpan .cursor {
    box-sizing: border-box;
    border: 2px red solid;
    opacity: 50%;
}

/*플레이어별 돌색*/
.p0 {
    background-color: black;
}

.p1 {
    background-color: white;
}

#board {
    text-align: center;
}

#colorSign {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: red 3px solid;
    border-radius: 50%;
}

#omokpanCenterPoint{
    position: absolute;
    background-color: gray;
    border-radius: 50%;
}